.navbar{
	box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
	padding: 0px 24px; /*讓東西不會黏在兩邊*/
} /*因為.navbar .wrapper 有限定高度，所以陰影要加在這層(才會全部都有陰影)*/

.navbar .wrapper {
	display: flex; /*左右並排*/
	justify-content: space-between; /*把 navbar__site-name 跟 navbar__list 往左右兩邊推開*/
	align-items: center; /*讓垂直是置中的*/
	height: 84px;
	background: white;	
}

.navbar__site-name {
	color: #489846;
	font-size: 36px;
}

.navbar__list {
	list-style: none; /*原本使用list時，每一行前面會出現的符號就會消失*/
	margin: 0; /*把預設的 margin 跟 padding 都調掉*/
	padding: 0;
	display: flex; /*一樣要左右並排*//*flex direction 預設是 row 所以他會從左到右排*/
	font-size: 18px;
}

.navbar__list li {
	margin-left: 12px; /*按鈕間的間距*/
	border-radius: 8px; /*把尖角削掉*/
	transition: background 0.1s ease-in; /*漸變*//*ease-in 是一種動畫樣式，可依喜好調整*/
}

.navbar__list li.active, .navbar__list li:hover {
	background: #ff7286;
}

.navbar__list li.active a, .navbar__list li:hover a{
	color: white;
}

.navbar__list li a {
	display: block; /*讓整個按鈕都可以點*/
	text-decoration: none; /*預設是 underline 把他調成 none*/
	color: black;
	padding: 12px 24px;
}

.wrapper {
	max-width: 1280px; /*置中*/
	margin: 0 auto; /*上下是0，左右是 auto*/
	padding: 0px 12px;
} 

.banner {
	position: relative; /*absolute 的定位點是往上找第一個不是 static 的元素，所以把 banner 設成 relative 就可以把暗暗的蓋在上面*/
	height: 450px;
	background: url(2.png) center/cover no-repeat;
}

.banner:after {
	content: ""; /*偽元素一定要加 content 不然不會出現*/
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.banner h1{
	display: inline-block;
	position: relative;
	margin: 0;
	color: white;
	z-index: 2;/*對一般元素加 z-index 沒有用，所以上面要加 relative*/
	top: 50%; /*以左上角為中心點離上面50%*/
	left: 50%; /*以左上角為中心點離左邊50%*/
	transform: translate(-50%, -50%); /*照它本身的寬度往左邊移一半*/
	font-size: 60px;
	font-weight: bold;
}

h2 {
	margin: 0;
}

.section {
	text-align: center; /*字都置中*/
	margin-top: 60px;
}

.section__title {
	display: inline-block;
	font-size: 36px;
	border-left: 15px solid #a3dea2;
	margin-bottom: 36px; /*margin 是對外*/
	padding-left: 16px; /*padding 是對內*/
}

.section__desc {
	font-size: 16px;
	line-height: 2em
	margin: 0px 0px 68px 0px; /*順序是上右下左*/
}

.button {
	padding: 60px 80px;
	font-size: 36px;
	color: #3e613d;
	display: inline-block;
	border-radius: 10px;
	cursor: pointer; /*讓滑鼠移上去時候可以點*/
	transition: transform 0.1s;
}

.button:hover {
	transform: scale(1.1);
}

.btn-order {
	background: #a8e8e1;
}

.btn-query {
	margin-left: 23px;
	background: #f9f9b5;
}

.section__images {
	display: flex;
}

.section__images div {
	width: 25%;
}

.section__images img {
	width: 100%;
}

.footer {
	margin-top: 48px;
}

.footer__top {
	background: #e8efee;
	padding: 32px;
	color: #484848;
}

.footer__top .wrapper{
	display: flex;
	justify-content: space-between;
}

.footer__info div + div { /*div 後面的 div 才要 margin-top*/
	margin-top: 10px;
}

.footer__info div, .footer__social-media {
	font-size: 14px;
}

.footer__site {
	font-size: 36px;
	color: #489846;
}

.footer__bottom {
	background: #35564b;
	padding: 12px 0px;
	text-align: center;
	color: white;
	font-size: 16px;
}

/*自己動手做，網友評論區*/
.section__comments {
	display: flex;
	margin-top: 72px;
}

.comment {
	border-radius: 5px;
	box-shadow: -1.4px -1.4px 4px 0 #b8eaef;
	border: solid 1px #c7e5ec;
	height: 200px;
	padding: 16px;
	position: relative;
}

.comment + .comment {
	margin-left: 16px;
}

.comment__avatar {
	width: 105px;
	height: 105px;
	border-radius: 50%;
	overflow: hidden; /*最後這兩個步驟可以讓圖片變成圓形*/
}

.comment__avatar img {
	width: 100%;
	height: 100%;
}

.comment__author {
	display: inline-block;
	position: absolute;
	top: 18px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.comment__author p {
	margin-top: 6px;
	line-height: 18px;
}

.comment__content {
	position: relative;
	top: 40%;
}



/*RWD*/
@media(max-width: 768px) { 
	.navbar .wrapper {
		height: 120px; /*高度加大*/
		flex-direction: column; /*把它變成上下排*/
		justify-content: space-between;
		padding: 0px;
	}

	.navbar__site-name {
		margin-top: 10px;
	}

	.navbar__list {
		display: flex;
		width: 100%;
	}

	.navbar__list li {
		flex: 1;
		margin-left: 0;
		border-radius: 0;
		text-align: center;
	}

	.btn-query {
		margin-left: 0;
		margin-top: 16px;
	}

	.section__images {
		flex-direction: column;
	}

	.section__images div {
		width: 100%;
	}

	.section__commemts {
		flex-direction: column;
	}

	.comment + .comment {
	margin-left: 0;
	margin-top: 82px;
}

}

